AIRFLOW_UID=50000
FERNET_KEY=your-fernet-key-here
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
AIRFLOW_SMTP_HOST=smtp.gmail.com
AIRFLOW_SMTP_PORT=587
AIRFLOW_SMTP_USER=your-email@gmail.com
AIRFLOW_SMTP_PASSWORD=your-app-password
AIRFLOW_SMTP_MAIL_FROM=your-email@gmail.com
ALERT_EMAIL=your-email@gmail.com