AIRFLOW_UID=50000
FERNET_KEY=your-fernet-key-here
AIRFLOW_GID=0
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

POSTGRES_HOST=postgres0-host
POSTGRES_PORT=5432
POSTGRES_DATABASE=database
POSTGRES_USER=username
POSTGRES_PASSWORD=password

AIRFLOW_CONN_ID=smtp_gmail
AIRFLOW_SMTP_HOST=smtp.gmail.com
AIRFLOW_SMTP_PORT=587
AIRFLOW_SMTP_USER=your-email@gmail.com
AIRFLOW_SMTP_PASSWORD=your-app-password
AIRFLOW_SMTP_MAIL_FROM=your-email@gmail.com
ALERT_EMAIL=your-email@gmail.com

COINGECKO_BASE_URL=https://api.coingecko.com/api/v3